<%- include('../layouts/admin/header.ejs') -%> <%-
include('../layouts/admin/navbar.ejs') -%>
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Data Admin</h1>
  </div>
  <!-- Menampilkan Pesan -->
  <%if (pesanFlash) { %>
  <div
    class="alert alert-<%= colorFlash %> alert-dismissible fade show mt-3"
    role="alert"
  >
    <strong><%= statusFlash %></strong>
    <%= pesanFlash %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %>
  <!-- Tabel -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Tabel Data Admin</h6>
    </div>
    <div class="card-body">
      <a class="btn btn-primary" href="<%= url %>admin/adminlist/add">tambah</a>
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Nama</th>
              <th>Email</th>
              <th>Action</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Nama</th>
              <th>Email</th>
              <th>Action</th>
            </tr>
          </tfoot>
          <tbody>
            <% data.forEach(item => { %>
            <tr>
              <td><%= item.nama_admin %></td>
              <td><%= item.email %></td>
              <td class="text-center">
                <a href="<%= url %>admin/adminlist/edit/<%= item.id_admin %>">
                  <i class="fas fa-solid fa-pen"></i>
                </a>
                <a href="<%= url %>admin/adminlist/delete/<%= item.id_admin %>">
                  <i class="fas fa-solid fa-trash"></i>
                </a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- /.container-fluid -->
  <%- include('../layouts/admin/footer.ejs') -%>
</div>
